@import url('https://fonts.googleapis.com/css2?family=Karla&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body{
    font-family: 'Karla';
    /* background: #edfdff; */
    padding:0;
    margin:0;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    color:white;
    font-size: 11px;
    text-decoration: none;
}
.dropdown{
    display:none;
}
.dropdown-cnt{
    display:none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 0 3%;
    background: black;
}
.logo{
    height: 7%;
    width: 7%;
    margin-right: auto;
}
.navbar{
    list-style: none;  
}
.navbar li{
    display: inline-block;
    padding: 0px 20px;
    margin:0 5px;
}
.navbar li a:hover{
    color:#0088a9;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
.active{
    color:#e0ba8b;
}

/* Body's CSS */
.content{
    display:grid;
    grid-template-columns: 90% 10%;
}
.blog-post{
    margin:3% 15%;
    padding:1em 1.2em;
    width:80%;
    text-align: justify;
   
}

/* Sidebar's CSs */
.sidebar{
    position:fixed;
    margin-left:90%;
    margin-top:20vh;
    width:100%;
    padding: 5px 10px;
    box-shadow: 0px 10px 16px 0px rgba(110,137,138,0.3);
}
.sidebar a{
    color:black;
}
.post1{
    box-shadow: 0px 10px 16px 0px rgba(110,137,138,0.3);
    padding:0.5em 1.2em;
}
/* hr{
    width: 90%;
} */







/*-----Footer----*/
footer{
    background: #0D0D0C;
    color:white;
}
.footer-top{
    display: flex;
    align-content: top;
    justify-content: space-around;
    padding: 10px 0;
}

.contact h2{
    text-decoration: underline;
    font-size: 1.25em;
}
.contact i{
    padding: 5px 5px;
    transition: 0.5s ease-in-out;
}
.contact i:hover{
    color:#79aeb5;
}

.follow h2{
    text-decoration: underline;
    font-size: 1.25em;
}
.follow a{
    font-size: 1em;
}
.follow i{
    padding:0 8px;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.follow i:hover{
    color:#0088a9;
}
.footer-bottom{
    font-size: 0.8em;
    background:black;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width:700px) {
    .logo{
        width:30vw;
        height:10vh;
    }

   .navbar{
       display:none;
   }

   .dropdown{
       display: block;
   }
   .dropdown i{
        display:block;
    
   }
   .dropdown button{
       background: none;
       font-size: 1.35em;
   }

   .dropdown-cnt{
       display:none;
    
       position: absolute;
       text-align: center;
       margin-left:1em;
       padding: 2em 2em;
       background: #3e6061;
       box-shadow: 0px 10px 16px 0px rgba(110,137,138,0.3);
       z-index: 1;
       
   }
   .dropdown-cnt a{
       float:none;
       color: white;
       display: block;
        margin:8px 0;
        font-size: 0.99em;
   }
   .show{
       display: block;
   }
   

   /* Body's CSS */
   .sidebar{
       display: none;
   }
   .blog-post{
       display:block;
       margin-right: 4%;
   }




      /* Footer */
      .footer-top{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer-right{
        display:none;
    }

    .contact {
        display:block;
        font-size: 1em;
    }
    .contact h2{
        text-align: center;
    }
}